@{
    ViewBag.Title = "About";
}
<h2>About Me</h2>

<div class="row">
    <div class="col-md-4">
        <h3>View My LinkedIn</h3>
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="freddycarangui">
        <a class="LI-simple-link" href='https://www.linkedin.com/in/freddycarangui?trk=profile-badge'>Freddy Carangui</a>
        </div>
        <a class="LI-simple-link" href='https://www.linkedin.com/in/freddycarangui?trk=profile-badge'>Freddy Carangui</a>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </div>
    <div class="col-lg-offset-4">
        <h3>My journey from Avionics Technician to Software Developer</h3>
        <p>
            As I wrapped up my senior year in High school I knew that I wanted to do something with technology,
            it's always been there, from taking apart computers, learning AutoCAD to joining my schools robotic team;
            I decided to join the Marine Corps because I could not afford college and I also wanted to be part of a
            great team and there was no better way to be part of an amazing team while serving my country; So I
            started to investigate and came across a job title "Avionics Technician"; This caught my interest as it
            was a way that I could really learn a skill in a field that I was already interested in, so I enlisted
            and have been loving it since working on electrical systems, troubleshooting, getting to teach and learn
            everyday I showed up to work. Fast forward through five years of leading and learning I want to keep
            learning more technologies and as my the end of my first-term enlistment was coming to a halt I started
            doing more research trying to learn something new that is when I came across the Microsoft Systems and
            Software Academy, right away I enrolled myself because I would again have the opportunity to learn more
            and specially with Software Development I just think it's awesome that one day I will create something
            that people worldwide will be using.
        </p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>
