@{
    ViewBag.Title = "Contact";
}
<address>
    <br />
    <strong>Questions? </strong> <a href="mailto:freddycarangui@outlook.com">Email Me</a><br />
    <strong>Call? (929) 263-5109</strong>
</address>